<div class="content_admin">
     <tbody>
    <tr>
      <td><%= admin.menu %></td>
      <td><%= admin.detail %></td>
      <td>
          <% if admin.image.attached? %>
            <%= image_tag admin.image %>
          <% end %>
      </td>
      </tr>
      </tbody>
        
</div>