
 <div class="content4">
            <p>出荷規格</p>
             <table>
        <thead>
          <tr>
              <th>品目</th>
              <th>荷姿</th>
              
          </tr>
        </thead>
  
   <% @admins.each do |admin| %>
      <%= render partial: "admins/admin", locals: { admin: admin} %>
   <% end %>
   
  
   
    
    </table>
    
   </div>