 <div class="row">
     
     
              
    <% @users.each do |user| %>
      <%= render partial: "users/index", locals: { user: user} %>
    <% end %>
 </div>
            
            
             
  
   