 
             
   <div class="content1">
       
       <% @users.each do |user| %>
       <%= user.name %>
      <%= render partial: "tweets/index", locals: { user: user} %>
   <% end %>
       
       
   
</div>
   