<div class="row">
  
  <%= form_tag('/tweeets', class: "col s12", method: :post) do %>
    
      <div class="row">
        <div class="input-field col s12">
          
          <input type="string" name="menu" placeholder="品目">
          <input type="integer" name="quantity" placeholder="数量(pc)"><p>(pc)</p>
          <input type="integer" name="start_year" placeholder="年"><p>年</p>
          <input type="integer" name="start_month" placeholder="月"><p>月</p>
          <input type="string" name="start_day" placeholder="旬"><p>から</p>
          <input type="integer" name="end_year" placeholder="年"><p>年</p>
          <input type="integer" name="end_month" placeholder="月"><p>月</p>
          <input type="string" name="end_day" placeholder="旬"><p>まで</p>
          
          
          <input type="submit" value="投稿する" class="btn">
          <% end %>
        </div>
      </div>
     
  </div>